<template>
	<div class="home">
		{{ photos }}
    <!-- <img src="@/assets/bg-dashboard.png" alt=""> -->
	</div>
</template>

<style lang="scss" scoped>

  .home{
    background-image: url(../assets/static/bg-dashboard.jpg);
  }

</style>

<script>
	// @ is an alias to /src
	// import HelloWorld from "@/components/HelloWorld.vue";
	import { mapActions, mapState } from "vuex";
	export default {
		name: "Home",
		methods: {
			...mapActions("photos", ["getPhotos"]),
		},
		computed: {
			...mapState("photos", ["photos"]),
		},
		async mounted() {
			await this.getPhotos();
		},
	};
</script>
