<template>
  <div
    :class="
      `sidebar w-full sm:w-auto absolute sm:relative ${
        isSidebar ? '--active' : ''
      }`
    "
  >
    <font-awesome-icon
      @click="isSidebar = !isSidebar"
      :class="
        `${isSidebar || '-m-35'} sidebar__bars cursor-pointer`
      "
      :icon="['fas', 'bars']"
    />
    <div class="sidebar__header pb-48 mb-5">
      <div class="sidebar__title w-full">
        Praktikum Apps
      </div>
    </div>
   
    <div class="block">
      <div class="sidebar__title">
        Mahasiswa
      </div>
      <router-link to="/">
        <font-awesome-icon :icon="['fas', 'home']" /> Home
      </router-link>
      <router-link to="about">
        <font-awesome-icon :icon="['fas', 'book']" /> Book
      </router-link>
  
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      isSidebar: true
    };
  }
};
</script>

<style lang="scss">
@import "../assets/styles/variables";
$sidebar-width: 280px;

@mixin button-link {
  @apply block p-3;
  font-weight: bold;
  transition: all ease 0.3s;
  &.--hover:hover {
    @apply bg-gray-200 pl-5;
  }

  svg {
    @apply mr-1 text-center;
    width: 25px !important;
  }
  &.router-link-exact-active {
    @apply bg-gray-200;
  }
}

.sidebar {
  @apply bg-white text-blue-700 min-h-screen;
  transition: all ease 0.3s;
  width: $sidebar-width;
  min-width: $sidebar-width;
  margin-left: -100%;
  &.--active {
    margin-left: 0px;
    left: 0px;
  }
  &__bars {
    @apply absolute text-black text-2xl;
    z-index: 10;
    transition: all ease 0.3s;
    top: 10px;
    right: 10px;
  }
  &__header {
    @apply py-2 select-none relative;
  }


  &__title {
    @apply border-white text-lg font-bold p-2;
  }
 

  a {
    @include button-link;
  }
  .sidebar__close {
    @include button-link;
  }
}
.-m-35{
  right: -35px;
}
@media screen and (min-width: $small) {
  .sidebar {
    margin-left: -$sidebar-width;
  }
}
</style>
