@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./package/nprogress.css";
@font-face {
    font-family: "poppins-regular";
    src: url(../fonts/Poppins-Regular.ttf) format("truetype");
  }
body,html{
    font-family: "poppins-regular";
}

.btn{
    @apply bg-red-500 text-white;
    padding:5px;
}